.view-states.view-display-id-locality_list .views-row {
  display:inline-block;
}

.view-states.view-display-id-locality_list .views-row a:after {
  content:", ";
}

.view-states.view-display-id-locality_list .views-row.views-row-last a:after {
  content:"";
}

#block-views-nearby-map-map-block, .view-nearby-map { position:relative; }
#block-views-nearby_map-map_block-ajax-content:after {
  content: "Enable javascript to find nearby locations.";
  position: absolute; z-index: 1; top: 0;
  display: block; box-sizing: border-box; width: 100%;
  background: white;
  padding: 30px;
  font-style: italic; color: lightgray; text-align: center;
}
#block-views-nearby_map-map_block-ajax-content.js-enabled:after {
  content: "Finding nearby locations...";
  background: transparent;
  font-style: normal; color: inherit;
}
noscript .openlayers-map-nearby, noscript .openlayers-container-map-nearby {
  height: 40px !important;
  width: 100% !important;
  background: white;
  position: absolute;
  z-index: 1;
}
noscript .openlayers-map-nearby:after {
  content: "We can show you a map of Bahá'í communities near you,\0020 but only if you have javascript enabled;\0020 otherwise,\0020 you'll have to click on a state.";
}
.view-nearby-map .view-footer {
  background: white none repeat scroll 0 0;
  display: block;
  line-height: 1.2em;
  margin: 0 20%;
  padding: 20px 20px 20px 30px;
  position: absolute;
  top: 35%;
}
noscript .view-nearby-map .view-footer { display:none; }